@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

:root {
    --bg-color: hsl(218, 23%, 16%)
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
    height: 100vh;
    background-color: var(--bg-color);
    color: white;
}
h4{
    color: hsl(150, 100%, 66%);
    text-align: center;
}

.darktheme {
    --bg-color: rgb(240, 240, 240);

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 35vh;
    border-radius: 8px;
    background-color: hsl(217, 19%, 24%);
    padding: 1em 2em 2.5em;
    text-align: center;
}

.card h5 {
    color: hsl(150, 100%, 66%);
    letter-spacing: 4px;

}

button {
    position: absolute;
    bottom: 19%;
    padding: 10px;
    cursor: pointer;
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    border: none;
    transition: 1s all ease-in-out;
}

button:focus {
    transform: rotate(-180deg);
   }
   button:active {
     transform: rotate(180deg);
    }
 button:hover {
     background-color: hsl(150, 78%, 45%);
     transform: rotate(360deg);
 }

.fa-moon {
    font-size: 30px;
    color: hsl(150, 78%, 45%);
    position: absolute;
    top: 4%;
    left: 2%;

}
#author{
    font-style: italic;
    margin-top:0;
}
.fa-sun {
    font-size: 30px;
    color: hsl(150, 78%, 45%);
    position: absolute;
    top: 4%;
    left: 2%;
}

@media screen and (max-width:768px) {
    .card {
        width: 80%;
    }

}